a {
  color: #00B7FF;
}
html, body, #map-canvas {
height: 100%;
margin: 0px;
padding: 0px
}

.front {
	z-index: 1031;
}

.tweetFrame {
	position: absolute;
	top: 60px;
	right: 10px;
	bottom: 20px;
	width: 25%;
	background-color: rgba(240,190,190, .8);
    border-radius: 5px;
	overflow: auto;
	overflow-x: hidden;
}

.tweetDeck {
	border-style: solid;
    border-width: 1px;
	border-color: rgba(0, 0, 0, .2);
	background-color: rgba(255,255,255, .8);
	padding: 5px;
	margin: 10px 5px 10px 5px;
	min-height: 70px;
    border-radius: 5px;
	-webkit-box-shadow: 5px 5px 5px 0px rgba(194,188,194,1);
	-moz-box-shadow: 5px 5px 5px 0px rgba(194,188,194,1);
	box-shadow: 5px 5px 5px 0px rgba(194,188,194,1);
	animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
}

.tweetDeck img {
    max-width: 350px;
}

.tweetHeader {
	min-height: 55px;
}

.tweetAvatar {
	float: left;
	margin-right: 10px;
}

.tweetName {
	font-weight: bold;
}

.tweetNickname {
	color: #6699FF;
}

.tweetLocation {
float: right;
cursor: pointer;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

a img {
    display : block;
    margin : auto;
}

/* CUSTOM INFOWINDOW*/

#infobox {
    border:2px solid pink;
    margin-top: 8px;
    background:#ffffff;
    color:#000;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    padding: .5em 1em;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.infowindowImg {
	max-width: 200px !important;
}

/* NAVBAR LOGO */
.navbar-brand img {
	max-width:175px;
	margin-top: -10px;
}

/* CUSTOM NAVBAR */
.navbar-default {
  background-image:none;
  background-color: #ff5ba5;
  border-color: #ff5ba5;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #ff5ba5;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ffffff;
  background-color: #ff5ba5 !important;
  background-image:none;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #ff5ba5;
  background-image:none;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #ff5ba5;
  background-image:none;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #ff5ba5;
  background-image:none;
}
.navbar-default .navbar-toggle {
  border-color: #ff5ba5;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #ff5ba5;
  background-image:none;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
  background-image:none;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
  background-image:none;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
	background-image:none;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #ff5ba5;
	background-image:none;
  }
}


/* VERTICAL SPACES */
.voffset { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3,.fb_iframe_widget { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

.hoffset3 { margin-left: 15px;}


/* MODAL */
.modal {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
